.MyInitialLoadingIndicator-module__indicator___2aF8k{display:block;height:100%;position:relative;width:100%}[dir] .MyInitialLoadingIndicator-module__indicator___2aF8k{background-color:#282828}

.MyProgressiveLoadingIndicator-module__indicator___3LNjJ{display:block;height:80px;width:100%}[dir] .MyProgressiveLoadingIndicator-module__indicator___3LNjJ{background-color:#282828}

