.ContentCellLayout__content-cell___32Z6a{height:100%;overflow:hidden;text-overflow:ellipsis;vertical-align:center;white-space:nowrap;width:100%;word-break:normal;word-wrap:normal}[dir] .ContentCellLayout__content-cell___32Z6a{padding:7px}

