- component = 'terra-menu'
- example_array = [component, 'terra-menu-orientation', 'terra-menu-long-text']

= render_header(component)
= render_toc(example_array)
= render_component_version(component)
- example_array.each do |i|
  = render_example(component, i)
