- component = 'terra-grid'
- example_array = [component, 'terra-grid-alignment', 'terra-grid-auto', 'terra-grid-distribution', 'terra-grid-nested', 'terra-grid-responsive', 'terra-grid-source-ordering']

= render_header(component)
= render_component_version(component)
= render_toc(example_array)
- example_array.each do |i|
  = render_example(component, i)
