// import theme
@import 'terra-legacy-theme';

$terra-bidi: true;

// override themeing variables here

// import components
@import 'terra-application';
@import 'terra-button';
@import 'terra-content';
@import 'terra-grid';
@import 'terra-label';
@import 'terra-menu';
@import 'terra-table';
@import 'terra-title';


// CUSTOM SITE STYLES
// ================================================
// Custom site styles not follow terra selector-class-pattern
// stylelint-disable selector-class-pattern

// horizontal scrolling on code
pre {
  overflow-x: auto;
}

pre code {
  overflow-wrap: normal;
  white-space: pre;
}

.tui-html-code {
  background-color: #f7f7f9;
  padding: 1rem;
}

.tui-haml-code {
  background-color: #daf3ff;
  padding: 1rem;
}

// background/padding on grid examples
.demo-bar {
  background-color: #c8cacb;
  margin-bottom: 1rem;
  padding: 1rem;
}
