.doc-site-hero {
  position:relative;
}

.doc-site-hero canvas {
  background: #223;
  background-image: url('https://raw.githubusercontent.com/cerner/terra-core/master/terra.png');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: absolute;
  top: 0px;
  right:0;
  bottom:0;
  left:0;
  z-index:0;
}

.doc-site-hero-content  {
  color: white;
  position: absolute;
  top: 60vh;
  width: 100%;
  text-align: center;
}

.doc-site-hero-title {
  font-size: 72px;
  font-weight: 100;
  letter-spacing: 40px;
  padding-left: 20px;
}

.doc-site-hero-button {
  display: inline-block;
  margin-top: 10px;
  vertical-align: middle;
  max-width: 200px;
}

.doc-site-hero-positioning {
    margin-top: 80vh;
}
