.doc-footer {
  height: 160px;
  background: #004c76;
  color: #fff;
  padding-top: 30px;
}

.terra-Grid-col.terra-Grid-col--2 >  h3 {
  color: lightblue;
  margin-bottom: 5px;
}


.terra-Grid-col.terra-Grid-col--3 >  h3 {
  color: lightblue;
  margin-bottom: 5px;
}

.doc-footer a:visited,
.doc-footer a {
  color: white;
  text-decoration: none;
}
