:local {
  .hero {
    position:relative;
    height: 33.714rem;
  }

  .hero canvas {
    background: #223;
    background-size: 14.286rem;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    z-index:0;
  }

  .hero-content {
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 9%;
  }

  .hero-title {
    font-size: 5.143rem;
    font-weight: 100;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.429rem;
    padding-right: 1.429rem;
  }

  .hero-button {
    background-color: #0065a3;
    border-color: #0065a3;
    border-radius: 0.25em;
    border-style: solid;
    border-width: 1px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.429;
    margin-top: 0.714rem;
    padding-left: 0.714em;
    padding-right: 0.714em;
    padding-bottom: 0.286em;
    padding-top: 0.286em;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: normal;
  }
}
