:local {
  .section {
    margin: 0 auto;
    max-width: 73.143rem;
    padding: 4rem 1.429rem;
    text-align: center;
  }
  
  .link {
    color: #0075b8;
    padding-bottom: 2rem;
    text-decoration: none;
  }

  .link:hover,
  .link:focus {
    color: #0065a7;
    text-decoration: underline;
  }
}
