- component = 'terra-application'
- example_array = ['readme', 'terra-application']

= render_header(component)
= render_component_version(component)
= render_toc(example_array)
- example_array.each do |i|
  = render_example(component, i)
