:local {
  .footer {
    background: #004c76;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer a:visited,
  .footer a {
    color: white;
    text-decoration: none;
  }

  .footer-col {
    margin: 10px;
  }
}
