- component = 'terra-table'
- example_array = [component, 'terra-table-long-text', 'terra-table-size', 'terra-table-striped']

= render_header(component)
= render_component_version(component)
= render_toc(example_array)
- example_array.each do |i|
  = render_example(component, i)
