:local {
  .callout-icon {
    width: 70%;
    margin: 0 auto;
    display: block;
  }

  // Hide components icon on tiny viewports
  .callout-icon-components {
    display: none;

    @media screen and (min-width: 544px) {
      display: block;
    }
  }
}