:local {
  .modular {
    display: block;
    line-height: 2em;
    padding-bottom: 3.571rem;
    padding-top: 3.571rem;
    text-align: center;
  }

  .modular-background {
    background-color: #f4f4f4;
  }
}
