- component = 'terra-button'
- example_array = [component, 'terra-button-color', 'terra-button-color-states', 'terra-button-outline', 'terra-button-outline-states', 'terra-button-link', 'terra-button-link-states', 'terra-button-icon', 'terra-button-size', 'terra-button-long-text', 'terra-button-elements']

= render_header(component)
= render_toc(example_array)
= render_component_version(component)
- example_array.each do |i|
  = render_example(component, i)
