- component = 'terra-title'
- example_array = [component, 'terra-title-caption', 'terra-title-graphic', 'terra-title-horizontal', 'terra-title-vertical', 'terra-title-size']

= render_header(component)
= render_toc(example_array)
= render_component_version(component)
- example_array.each do |i|
  = render_example(component, i)
