- component = 'terra-content'
- example_array = [component, 'terra-content-heading', 'terra-content-text', 'terra-content-list']

= render_header(component)
= render_component_version(component)
= render_toc(example_array)
- example_array.each do |i|
  = render_example(component, i)
