:local {
  .components-vertical-nav {
    background-color: #eee;
  }

  .vertical-menu {
    height: 100%;
  }

  .vertical-menu h1 {
    color: black;
    display: block;
    padding: 0.857rem;
    text-decoration: none;
  }

  .vertical-menu a {
    color: black;
    display: block;
    padding: 0.857rem;
    text-decoration: none;
  }

  .vertical-menu a:hover,
  .vertical-menu a:focus {
    background-color: #ccc;
    outline: none;
  }

  .vertical-sub-menu {
    padding-left: .5rem;
  }

  .components-content {
    padding: 1rem;
    padding-left: 0;
  }
}

.markdown-body code {
  background-color: #f6f8fa; // fixes contrast issue of code elements
}
