:local {
  .section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .container {
    padding: 2px 16px;
  }

  .card {
    margin: 10px;
    width: 200px;
  }
}
