:local {
  .home-about-terra {
    display: block;
    text-align: center;
    padding-top: 3.571rem; // 50px
    padding-bottom: 3.571rem; // 50px
    line-height: 2em;
  }

  .home-about-terra-container {
    background-color: #f4f4f4;
  }
}
