:local {
  .modular {
    display: block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 2em;
  }

  .modular-background {
    background-color: #f4f4f4;
  }
}
