:local {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card {
      width: 200px;
      margin: 10px;
  }

  .container {
      padding: 2px 16px;
  }
}
