:local {
  .footer {
    background: #004c76;
    padding: 2.857rem 1.429rem 1.429rem;
  }

  .footer a:visited,
  .footer a {
    color: #fff;
    text-decoration: none;
  }

  .footer-col {
    margin-bottom: 2rem;
  }
}
